@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&family=Playfair+Display+SC&display=swap');

:root {
    --primary-color: #26287D;
    --secondary-color: #48BFE3 ;
    --accent1-color: #64B2E3;
    --accent2-color: #56CFE1;

    --heading-font: 'Playfair Display SC', serif;
    --paragraph-font: 'Be Vietnam Pro', sans-serif;

    --nav-background-color: #7F4BD2;
    --nav-link-color: #ffff;
    --nav-hover-link-color: #3b3a3a00;
    --nav-hover-background-color: #5390d9;
}

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 20px;
    margin: 1rem auto;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
    padding: 20px;
    background-color: var(--accent2-color);
}

header img {
    margin-left: 7rem;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}   

nav a {
    text-decoration: none;
}


.hero {
    position: relative;
}
  
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
  
.hero h1 {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0.8;
    padding: 15px;
}
  
.hero article {
    position: absolute;
    top: 35%;
    left: 7%;
    right: 7%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
}
  
.hero article img {
    width: 200px;
    float: right;
}

h2 {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

section p {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

h2 {
    display: flex;
    justify-content: center;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 2px;
    width: 170px;
    margin: 0 10px 10px 0;
    display: inline-block;
}

figure img {
    width: 170px;
    height: 120px;
}
  
figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

section {
    background-color: var(--accent1-color);
    border: #222;
    padding: 1.5px;
    margin: 0.5rem;
}

footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: var(--nav-hover-background-color);
}

footer img {
    height: 50px;
    width: 50px;
}

body {
    width: 1000px;
    margin: 0 auto;
}