@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&family=Playfair+Display+SC&display=swap');


:root {
    --primary-color: #26287D;
    --secondary-color: #48bfe3 ;
    --accent1-color: #64B2E3;
    --accent2-color: #56cfe1;

    --heading-font: 'Playfair Display SC', serif;
    --paragraph-font: 'Be Vietnam Pro', sans-serif;

    --nav-background-color: #7F4BD2;
    --nav-link-color: #ffff;
    --nav-hover-link-color: #3b3a3a00;
    --nav-hover-background-color: #5390d9;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}